<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'oktoih/css/main_page.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <header>
        <h1>Октоих воскресный</h1>
        <h2>Службы воскресные "на ряду" восьми гласов</h2>
        <table id="nav">
            <tr id="tr">
                <td class="tb"><a href="{% url 'evang' %}" target="_blank">Евангелия утренние воскресные</a></td>
                <td class="tb"><a href="{% url 'exapost' %}" target="_blank">Эксапостиларии воскресные</a></td>
                <td class="tb"><a href="{% url 'st_ev' %}" target="_blank">Стихиры евангельские</a></td>
                <td class="tb">четыре</td>
                <td class="tb">пять</td>
            </tr>
        </table>
    </header>
    <section id="section">
        <div id="calend">
            <h2><a href="https://days.pravoslavie.ru/Days/today.html/">Календарь</a></h2>
            <script language="Javascript"
                     src="https://script.pravoslavie.ru/calendar.php?images=1&dayicon=1">
            </script>
        </div>
        <div id="article">
            <div id="epigr">
            <p>"Вся благообразно и по чину да бывают"</p>
                ( 1 Кор 14:40 )<br>
            </div>
            <div id="block">
                <div id="text">
                    <p>На сайте представлены воскресные службы всех восьми гласов, совершаемые накануне воскресенья во время
                    всенощного бдения. Чинопоследование дано "на ряду", то есть так, как оно и идёт во время богослужения.
                    Песнопения, которые берутся из разных книг, здесь собраны в одно целое, что упрощает слежение за службой.
                    В целях целесообразности и имея в мыслях расширить сайт в будущем, в тексте отсутсвуют вторая и третья кафизма,
                    которые обычно читаются на утрени, а также, вторая и третья "слава" первой кафизмы. В дальнейшем планируется
                    добавить на сайт Псалтирь целиком, и как следствие, вставить ссылки на нужные кафизмы в соответсвтующие
                    места.</p>
                    <p>Так как представляется довольно сложным вычислить порядок чтения воскресных утренних Евангелий для каждого
                    конкретного воскресенья, в тексте, где они положены, и на главной странице даны ссылки на все одиннадцать.
                    Это же касается и связанных с этой особенностью воскресных эксапостилариев и евангельских стихир.</p>
                    На сайте не даны песнопения из Миней месячных, так как это превосходит мои силы и возможности.
                    <p>Планируется добавить литию на великой вечерне, хотя по уставу она не всегда положена, но по традиции служится
                    на каждом всенощном бдении. По этой же логике, следовало бы добавить и "непорочны" на утрени, хотя они никогда
                    сейчас не служатся, но положены по уставу. Во всяком случае, сайт ещё в разработке и я буду рад Вашим
                    предложениям по контенту или функциональности.</p><br><br>
                    <p style="text-align: right">Никомах</p>
                </div>
                <div id="image" data-title="Апостол Павел">
                    <img src="{% static 'oktoih/img/ApostolPavel.jpg' %}" alt="Здесь должен быть апостол Павел">
                </div>
            </div>
        </div>
        <div id="voices">
            {% for key, value in voices_dict.items %}
                <h2><a href="{% url 'voices' pk=key %}"> {{ value }}</a></h2>
            {% endfor %}
        </div>

    </section>
    <footer class="footer">
        <button class="button">
        <a href="{% url 'message' %}" target="_blank" style="color: black;">Написать автору сайта</a>
        </button>
    </footer>


</body>
</html>