
<h4 style="color: red; text-align: center; font-weight: 100 ">Малая ектения</h4>
<p>Пaки и3 пaки ми1ромъ гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>
<p>Заступи2, спаси2, поми1луй и3 сохрани2 нaсъ б9е, твоeю бlгодaтію.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>
<p>Прес™yю, пречcтую, пребlгословeнную, слaвную вLчцу нaшу бцdу и3 приснодв7у мRjю со всёми с™hми помzнyвше, сaми себE,
    и3 другъдрyга, и3 вeсь жив0тъ нaшъ хrтY бGу предади1мъ.</p>
<p><span style="color: red" >Ли1къ:</span> ТебЁ гDи.</p>
<p><span style="color: red" >Возглашeніе:</span></p>
<p>{{ text }}</p><p><span style="color: red" >Ли1къ:</span> Ґми1нь.</p>

