

<p>И#сп0лнимъ {{ text }} моли1тву нaшу гDви.</p>
<p><span style="color: red;">Ли1къ: </span>ГDи поми1луй.</p>
<p>Заступи2, спаси2, поми1луй и3 сохрани2 нaсъ б9е, твоeю бlгодaтію.</p>
<p><span style="color: red;">Ли1къ: </span>ГDи поми1луй.</p>
<p>{{ text2 }} всегw2 совершeнна, свsта, ми1рна и3 безгрёшна, ў гDа пр0симъ.</p>
<p><span style="color: red;">Ли1къ: </span>Подaй гDи.</p>
<p>ЃгGла ми1рна, вёрна настaвника, храни1телz дyшъ и3 тэлeсъ нaшихъ, ў гDа пр0симъ.</p>
<p><span style="color: red;">Ли1къ: </span>Подaй гDи.</p>
<p>Прощeніz и3 њставлeніz грэхHвъ и3 прегрэшeній нaшихъ, ў гDа пр0симъ.</p>
<p><span style="color: red;">Ли1къ: </span>Подaй гDи.</p>
<p>Д0брыхъ и3 полeзныхъ душaмъ нaшымъ, и3 ми1ра мjрови, ў гDа пр0симъ.</p>
<p><span style="color: red;">Ли1къ: </span>Подaй гDи.</p>
<p>Пр0чее врeмz животA нaшегw въ ми1рэ и3 покаsніи скончaти, ў гDа пр0симъ.</p>
<p><span style="color: red;">Ли1къ: </span>Подaй гDи.</p>
<p>Хrтіaнскіz кончи1ны животA нaшегw, безболёзнены, непостhдны, ми1рны и3 д0брагw tвёта на стрaшнэмъ суди1щи хrт0вэ пр0симъ.</p>
<p><span style="color: red;">Ли1къ: </span>Подaй гDи.</p>
<p>Прес™yю, пречcтую, пребlгословeнную, слaвную вLчцу нaшу бцdу и3 приснодв7у мRjю со всёми с™hми помzнyвше сaми
себE, и3 дрyгъ дрyга, и3 вeсь жив0тъ нaшъ хrтY бGу предади1мъ.</p>
<p><span style="color: red;">Ли1къ: </span>ТебЁ гDи.</p>
<span style="color: red;">И# сщ7eнникъ возглашaетъ:</span>
<p>Ћкw бlгъ и3 чlвэколю1бецъ бGъ є3си2, и3 тебЁ слaву возсылaемъ, nц7Y, и3 сн7у, и3 с™0му д¦у, нhнэ и3 при1снw, и3 во вёки вэкHвъ.</p>
<p><span style="color: red;">Ли1къ:</span> Ґми1нь.</p>
