<p>Поми1луй нaсъ б9е, по вели1цэй ми1лости твоeй, м0лимъ ти сz, ўслhши, и3 поми1луй.</p>
<p><span style="color: red;"> Ли1къ: </span>ГDи поми1луй, <span style="color: red;">три1жды.</span></p>
<p>Е#щE м0лимсz њ вели1комъ господи1нэ и3 nц7Ё нaшемъ, свzтёйшемъ патріaрхэ моск0вскомъ
    и3 всеS руси2 <span style="color: red;">и4м>къ.</span></p>
<p><span style="color: red;"> Ли1къ: </span>ГDи поми1луй, <span style="color: red;">три1жды.</span></p>
<p>Е#щE м0лимсz њ богохрани1мэй странЁ нaшей, властёхъ и3 в0инствэ є3S.</p>
<p><span style="color: red;"> Ли1къ: </span>ГDи поми1луй, <span style="color: red;">три1жды.</span></p>
<p>Е#щE м0лимсz њ бlжeнныхъ и3 приснопaмzтныхъ создaтелехъ с™hz nби1тели сеS и3 њ всёхъ преждепочи1вшихъ
    nц7ёхъ и3 брaтіzхъ, здЁ лежaщихъ и3 повсю1ду правослaвныхъ.</p>
<p><span style="color: red;"> Ли1къ: </span>ГDи поми1луй, <span style="color: red;">три1жды.</span></p>
<p>Е#щE м0лимсz њ ми1лости, жи1зни, ми1рэ, здрaвіи, спасeніи, посэщeніи, прощeніи и3 њставлeніи грэхHвъ
    рабHвъ б9іихъ, брaтіи с™hz nби1тели сеS.</p>
<p><span style="color: red;"> Ли1къ: </span>ГDи поми1луй, <span style="color: red;">три1жды.</span></p>
<p>Е#щE м0лимсz њ плодоносsщихъ и3 добродёющихъ во с™ёмъ и3 всечестнёмъ хрaмэ сeмъ, труждaющихсz,
    пою1щихъ и3 предстоsщихъ лю1дехъ, њжидaющихъ t тебE вели1кіz и3 богaтыz млcти.</p>
<p><span style="color: red;"> Ли1къ: </span>ГDи поми1луй, <span style="color: red;">три1жды.</span></p>
<span style="color: red;">Возглашaетъ сщ7eнникъ:</span>
<p>Ћкw ми1лостивъ и3 человэколю1бецъ бGъ є3си2, и3 тебЁ слaву возсылaемъ, nц7Y, и3 сн7у, и3 с™0му д¦у, нhнэ
    и3 при1снw, и3 во вёки вэкHвъ.</p>
<p><span style="color: red;">Ли1къ: </span>Ґми1нь.</p>
