<h4 style="color: red; text-align: center; font-weight: 100 ">Великая ектения</h4>
<p>Ми1ромъ гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Њ свhшнэмъ ми1рэ, и3 спасeніи дyшъ нaшихъ, гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Њ ми1рэ всегw2 мjра, бlгостоsніи с™hхъ б9іихъ цRквeй, и3 соединeніи всёхъ, гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Њ с™ёмъ хрaмэ сeмъ, и3 съ вёрою, бlгоговёніемъ и3 стрaхомъ б9іимъ входsщихъ в0нь, гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Њ с™ёйшемъ прави1тельствующемъ сmн0дэ, [и3 њ митрополjтэ нaшемъ, и4м>къ, ѓще є4сть џбласть є3гw2,]
    честнёмъ пресвЂтерствэ, во хrтЁ діaконствэ, њ всeмъ при1чтэ и3 лю1дехъ, гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Њ грaдэ сeмъ, [ѓще въ монастырЁ: Њ с™ёй nби1тели сeй,] всsкомъ грaдэ, странЁ,
    и3 вёрою живyщихъ въ ни1хъ, гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Њ бlгорастворeніи воздyхwвъ, њ и3з8oби1ліи плодHвъ земнhхъ, и3 врeменэхъ ми1рныхъ, гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Њ плaвающихъ, путешeствующихъ, недyгующихъ, стрaждущихъ, плэнeнныхъ, и3 њ спасeніи и4хъ, гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Њ и3збaвитисz нaмъ t всsкіz ск0рби, гнёва и3 нyжды, гDу пом0лимсz.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Заступи2, спаси2, поми1луй и3 сохрани2 нaсъ б9е, твоeю бlгодaтію.</p>
<p><span style="color: red" >Ли1къ:</span> ГDи поми1луй.</p>

<p>Прес™yю, пречcтую, пребlгословeнную, слaвную вLчцу нaшу бцdу и3 приснодв7у мRjю со всёми с™hми помzнyвше,
сaми себE, и3 другъдрyга, и3 вeсь жив0тъ нaшъ хrтY бGу предади1мъ.</p>
<p><span style="color: red" >Ли1къ:</span> ТебЁ гDи.</p>

<p><span style="color: red" >Возглашeніе:</span></p>
<p>Ћкw подобaетъ тебЁ всsкаz слaва, чeсть, и3 поклонeніе, nц7Y, и3 сн7у, и3 с™0му д¦у, нhнэ и3 при1снw,
    и3 во вёки вэкHвъ.</p>

<p><span style="color: red" >Ли1къ:</span> Ґми1нь.</p>
