body {
    background-image: url('/static/oktoih/img/114.jpg');   #  !здесь важно перед static ставить '/'!
    background-color: black;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
header {
    padding: 0;
    text-align: center;

}
@font-face {
    font-family: 'Hirmos ieUcs', Pompadur;
    src: local('Hirmos ieUcs', Pompadur),
       url('/static/oktoih/fonts/HirmIEUcs8.ttf') format("truetype"),
       url('/static/oktoih/fonts/Pompadur.ttf') format("truetype");
}
td {
    min-width: calc(98vw/5)
}
h1   {
    margin: 0;
    padding: 0;
    color: #F08080;
    font-family:  'Hirmos ieUcs', serif;
    font-weight: 100;
    font-size: 60px;

}
#nav {
    margin: auto;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px white;
    background-color: #EEE8AA;
}
.tb {

    font-size: 18px;

}
#tr {
    min-height: 30px;

}
#section {
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 35vh)
    }
@media (max-width: 1200px) {
    #section {
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
    #section { max-width: 992px; }
    #calend { margin-right: 0; }
    #voices { margin-left: 0; }
}
@media (max-width: 767px) {
    header { margin-right: -145px; }

    #section { display: flex;
               flex-direction: column;
               max-width: none;
               margin-right: -145px; }

    #calend { max-width: none;
              margin-right: -100px;}


    .footer { margin-right: -145px; }
}
#calend, #voices, #article {
    padding: 20px;
    margin: 20px;
}
#calend {
    flex: 0 1 20%;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px white;
    background-color: #EEE8AA;
}

#voices {
    flex: 0 1 20%;
    border-radius: 10px;
    background-color: #EEE8AA;
    box-shadow: 0 0 5px 2px white;
}
#article {
    flex: 1 1 60%;
    border-radius: 10px;
    background-color: #EEE8AA;
}

#epigr {
    font-family: Pompadur;
    font-size: 22px;
    font-weight: 600;
    text-align: right;
    margin-right: 100px;
    }
#block {

}
#image {
    float: right;
    padding-top: 20px;
    margin-left: 20px;
    max-width: 100%;
}
#image:hover::after {
    content: attr(data-title);
    left: 75%; top: 50%;
    position: absolute; /* Абсолютное позиционирование */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.7); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333;
 }
#text {
    float: left;
    max-width: 900px;
    margin-left: 30px;
    text-align: justify;
    font-size: 18px;
}

.footer {
    height: 10vh;
    background-color: #2F4F4F;
    }

 h2  {
    font-family:  "source-serif-pro", serif;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 180%;
    color: #FFF8DC;
}

a {
    color: #2F4F4F;
    text-decoration: none;
}

a:hover, a:active {
    color: red;
}
.button {
    block-align: center;
    margin-top: 3vh;
    margin-left: 3vh;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px white;
    background-color: #EEE8AA;
}

