.noprint {display: none !important;}
.noprintborder {
    border: none !important;
    margin: -2mm -80mm -5mm -5mm !important;
	padding: 0 !important;
}
.printsize {
    height: 297mm;
	width: 210mm;
	font-size: 14px;
}
.h2fontsize {
font-size: 20px;
}
.noscreen {display: block;}
br {
display: none;
}